body {
    background: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    flex-direction: column;
    align-items: center;
}
form {
    background-color: white;
    box-shadow:0px 6px 5px rgba(0, 0, 0,.2);
    padding: 15px;
    border-radius: 15px;
    margin-top: -30px;;
}
label{
    font-weight: 300;
    font-size:1em;
    color:rbg(32,32,35);
}
input[type="submit"]{
    font-family: 'Press Start 2P';
    font-size: 1.7em;
    color:white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    background: #fcca46;
    border: transparent;
    border-radius: 10px;
    border-bottom: 6px solid #fe7f2d;
    width:250px;
    height:55px;
    margin: 15px;
}
input[type="submit"]:focus{
    border-bottom: none;
    transform: translate(0,3px);
}
input {
    border: 1px solid rgb(153,153,153);
    margin-bottom: 10px;
}
button {
    font-family: 'Press Start 2P';
    color:white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    background: #a1c181;
    border: transparent;
    border-radius: 10px;
    border-bottom: 6px solid #619b8a;
    padding: 5px 10px;
}
button:focus {
    border-bottom: none;
    transform: translate(0,6px);
}