body {
    animation: animateBg 10s linear infinite;
    background-image: linear-gradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
    background-size: 400% 1000%;
    background-attachment: fixed;
}
@keyframes animateBg {

    0% { background-position: 0% 0%; }

    100% { background-position: 0% 100%; }
}
.glitter {
    background: url("../assets/glitter.gif"), #00000000;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gachaMach{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#prizeWon{
    position: absolute;
    z-index: 1;
    transform: translate(0,550px);
}
#gachaButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#submit, button{
    font-family: 'Press Start 2P';
    font-size: 24pt;
    color:white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    background: #fcca46;
    border: transparent;
    border-radius: 10px;
    border-bottom: 6px solid #fe7f2d;
    padding: 10px 15px;
}
#submit:focus{
    margin-bottom: 6px;
    border-bottom: none;
    transform: translate(0,6px);
}
#submit:disabled {
    background: rgb(151, 151, 151);
    border-bottom: 6px solid #585858;
}
button:focus{
    margin-bottom: 6px;
    border-bottom: none;
    transform: translate(0,6px);
}
button:disabled {
    background: rgb(151, 151, 151);
    border-bottom: 6px solid #585858;
}
h2{
    color:white;
    text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
    font-size: 48pt;
    margin: -40px;
}
p {
    font-weight: 500;
    margin: -10px 0px;
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow:0px 6px 5px rgba(0, 0, 0,.2);
}
.details {
    max-width: 500px;
    text-align: center;
}
a {
    font-weight: 600;
}
#machine{
    height:80vh;
}
#imgWon{
    height:40vh;
    margin-top: 50px;
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.star {
  animation: 2.5s rotate infinite;
  animation-timing-function: linear;
}