body {
    background: linear-gradient(-45deg, #619b8a, #a1c181, #fcca46, #fe7f2d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    background-attachment: fixed;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.container {
    flex-direction: column;
}
#profTop{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin:auto;
    gap: 15px;
}
#pInfo{
    display: block;
    width: 50%;
    text-align: left;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow:0px 6px 5px rgba(0, 0, 0,.2);
}
#pInfo>h2{
    margin: 10px 0px;
    font-size: 36pt;
}
#pInfo>h3 {
    margin-top: -30px;
    font-size: 20pt;
}
#pfp {
    float: left;
    margin-right: 30px;
}
#pfp>img{
    display:block;
    margin-left: 10px;
    width: 120px;
}
#profBtm{
    width: 90%;
    text-align: left;
    background-color: #cecece;
    padding: 15px;
    border-radius: 5px;
    box-shadow:0px 6px 5px rgba(0, 0, 0,.2);
    margin:auto;
}
#inventory {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}
#invItems{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    box-shadow:0px 6px 5px rgba(0, 0, 0,.2);  
    padding: 10px;
}
@media only screen and (max-width: 1450px) {
    #invItems{
        width:32%;
    }
}
@media only screen and (max-width: 1200px) {
    #invItems{
        width:48%;
    }
}
@media only screen and (max-width: 850px) {
    #invItems{
        width:100%;
    }
}
#invItems>img{
    margin-left: 10px;
    margin-right: 10px;
    height: 150px;
}
#account {
    display:block;
    text-align: left;
    background-color: white;
    padding: 15px;
    padding-left: 20px;
    border-radius: 15px;
}
h1{
    margin: 0px;
    margin-left:5%;
    margin-top: 10px;
}
@media only screen and (max-width: 715px) {
    h1{
        font-size: 6.5vw;
    }
}
h2{
    display: block;
    margin-bottom: 15px;
}
.h2spec{
    font-family: 'Gluten';
    font-weight: 600;
}
h3{
    font-size: 20pt;
    margin-top: -10px;
}
p{
    font-size: 14pt;
}
a{
    font-size: 10pt;
}
#invAcc{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}
.tabs {
    font-family: 'VT323';
    font-size: 24pt;
    color:white;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
    background: #fcca46;
    border: transparent;
    border-radius: 10px;
    border-bottom: 6px solid #fe7f2d;
    padding: 5px 15px;
}
@media only screen and (max-width: 715px) {
    .tabs{
        padding: 15px;
    }
}
.tabs:focus{
    border-bottom: none;
    transform: translate(0,3px);
    margin-bottom: 3px;
}